body {
  background-color: rgb(45, 9, 108);
  font-family: monospace;
  font-size: 110%
}

#exchange {
  margin-top: 3%;
}

label {
  margin-top: 4%;
  font-weight: bold;
}

#output {
  font-weight: bold;
  background-color: skyblue; 
  border: 1px solid grey; 
  border-radius: 10px; 
  text-align: center; 
  margin: auto; 
  margin-top: 4.5%;
  padding-top: 5%; 
  padding-bottom: 5%; 
  padding-left: 2%;
  padding-right: 2%;
  display: none; 
  font-size: 120%
}

.btn { 
  margin-top: 3%;
  margin-left: 5%;
  font-weight: bold;
  background-color: lightgrey;
  border-color: black;
}

.col-5 {
  border: 1px solid grey; 
  border-radius: 10px; 
  margin: auto;
  padding-bottom: 2%;
  background-color: skyblue;
}